@import "src/@fuse/scss/fuse";

item-manager-list {
    flex: 1;
    display: flex;
    .example-action-buttons {
        padding-bottom: 20px;
    }
    .example-headers-align {
        overflow: auto;
    }
    .mat-expansion-panel-header {
        height: 64px !important;
        padding-left: 32px !important;
    }
    .example-headers-align .mat-expansion-panel-header-title,
    .example-headers-align .mat-expansion-panel-header-description {
        flex-basis: 0;
        
    }
    .example-headers-align .mat-expansion-panel-header-title {
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 0.5px;
    }
      
    .example-headers-align .mat-expansion-panel-header-description {
        justify-content: space-between;
        align-items: center;
    }

    .example-headers-align .mat-expansion-panel-body {
        padding: 0;
    }
      
    .example-headers-align .mat-form-field + .mat-form-field {
        margin-left: 8px;
    }
    .mini-header {
        max-height: 100% !important;
        min-height: 0 !important;
        height: auto !important;
    }
    .list-container {
        // height: 100%;
        // max-height: 100%;
        overflow: hidden;
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 0;
        .center-box-message {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .sub-header {
        position: relative;
        height: 128px;
        min-height: 128px;
        max-height: 128px;
        padding: 2px;
        text-align: center;
        overflow: hidden;
        width: 100%;
        mat-icon {
            font-size: 24px;
        }
        @include media-breakpoint('xs') {
            padding: 16px;
        }
        .breadcrumb {
            z-index: 1;
            padding: 0 32px;
            flex-shrink: 0;
        }
        .hero-text {
            z-index: 0 !important;
            .hero-icon {
                position: absolute;
                top: -64px;
                left: 0px;
                opacity: 0.04;
                font-size: 512px !important;
                width: 512px !important;
                height: 512px !important;
                
            }

            h1 {
                font-size: 40px;
                font-weight: 300;
                letter-spacing: 0.01em;
                text-align: center;
                margin-top: 0;
                margin-bottom: 16px;

                @include media-breakpoint('xs') {
                    font-size: 24px;
                }
            }

            h3 {
                max-width: 480px;
                text-align: center;
                font-weight: 300;
                letter-spacing: 0.03em;
                margin: 0;

                @include media-breakpoint('xs') {
                    font-size: 14px;
                }
            }
        }
        .toolbar {
            z-index: 2;
        }
        
        .action-container {
            display: flex;
            padding: 0 20px;
            width: 360px;

            .search-wrapper {
                z-index: 12 !important;
                border-radius: 28px;
                overflow: auto;
                -webkit-overflow-scrolling: touch;
                display: flex;
                flex: 6;
                @include mat-elevation(1);

                .sidebar-toggle {
                    margin: 0 0 0 6px;
                    width: 56px;
                    height: 56px;
                    border-radius: 0;
                    border-right: 1px solid;
                }

                .search {
                    width: 100% !important;
                    height: 40px;
                    line-height: 40px;
                    padding: 0 18px;
                    mat-icon {
                        color: #444 !important;
                    }
                    input {
                        flex: 1;
                        height: 40px;
                        min-height: 40px;
                        max-height: 40px;
                        padding: 0 16px;
                        border: none;
                        outline: none;
                    }
                }
            }
        }
        @media screen and (max-width: 769px) {
            .breadcrumb,
            .action-container {
                padding: 0 10px;
            }       
        }
    }
    
    .item-list {
        flex: 1;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    .loader {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mat-table {
        background: transparent;
        box-shadow: none;

        .mat-row {
            position: relative;
            cursor: pointer;
            min-height: 64px;
        }
    }
    .mat-table__wrapper .mat-table {
        min-width: auto !important;
        width: 100% !important;
    }
    
    .mat-header-row {
        width: 100%;
    }
    
    .mat-row {
        width: 100%;
    }
    .mat-cell {
        padding-right: 7px;
        font-size: 15px !important;
    }
}
.item-list .mat-column-Steps {
    flex: 0 0 50% !important;
    min-width: 50% !important;
}
.item-list .mat-column-Actions {
    flex: 0 0 14% !important;
    justify-content: center !important;
    min-width: 60px !important;
    // .mat-icon-button {
    //     width: 30px !important;
    //     height: 30px !important;
    //     height: 30px !important;
    // }
}
.item-list .mat-column-detail-button {
    flex: 0 0 14% !important;
    justify-content: center !important;
    min-width: 60px !important;
    // .mat-icon-button {
    //     width: 30px !important;
    //     height: 30px !important;
    //     height: 30px !important;
    // }
}

