<div class="main" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="circle accent mat-elevation-z2">
            1
        </div>
        <hr class="accent" width="100%">
        <div class="circle accent mat-elevation-z2">
            2
        </div>
        <hr class="accent" width="100%">
        <div class="circle accent mat-elevation-z2">
            3
        </div>
        <hr width="100%">
        <div class="circle">
            4
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" style="padding-top: 2px;">
        <div class="complete">
            COMPLETE
        </div>
        <div class="complete">
            COMPLETE
        </div>
        <div class="complete">
            COMPLETE
        </div>
        <div class="complete">

        </div>
    </div>
</div>