<div class="main" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="circle accent ">
            1
        </div>
        <hr class="accent" width="100%">
        <div class="circle accent ">
            2
        </div>
        <hr  width="100%">
        <div class="circle  ">
            3
        </div>
        
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" style="padding-top: 2px;">
        <div class="complete">
            COMPLETE
        </div>
        <div class="complete">
            COMPLETE
        </div>
        <div class="complete">
            <!-- COMPLETE -->
        </div>
        
    </div>
</div>