// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

// Import Ng Select theme
// @import "~@ng-select/ng-select/themes/material.theme.css";
// This will remove the white box on bottom right from overflow: scroll
::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}
.orange {
    background-color: #fb8c00;
}
.darkblue {
    background-color: #3949ab !important;
}
.green {
    background-color: #43a047;
}
.vivid-green {
    color: #9be503;
}
.red {
    background-color: #e53935;
}
simple-notifications {
    z-index: 10000;
}
.notify-top-banner {
    position: absolute;
    width: 100%;
    padding: 12px;
    top: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    mat-icon {
      margin-right: 10px;
    }
}
.hidden {
    display: none !important;
}
.smaller {
  font-size: 12px;
}
.faded-icon {
  opacity: 0.14 !important;
}
.faded-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  opacity: 0.77;
  z-index: 999999 !important;
  background-color: #fff;
}
.faded {
  opacity: 0.14;
  background-color: #ccc;
}
.sm-header {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  margin-right: 8px;
}
.mini-loader {
  position: absolute;
  z-index: 99100;
  padding: 15px;
  right: 0;
  top: 240px;
}
.enter-qty-input {
  border: solid 1px rgba(0,0,0,0.12);
  border-radius: 5px;
  -webkit-transition: border-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: border-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding-bottom: 0; padding: 4px 0; width: 70px; min-width: 40px; margin-right: 15px;
}
.enter-qty-input-ok {
  width: 34px; height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.enter-qty-input-cancel {
  width: 34px;
  height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 620ms infinite;      
    animation: ellipsis steps(4,end) 620ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
}
.mat-dialog-container {
  padding: 0;
}
  
@keyframes ellipsis {
  to {
    width: 20px;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;    
  }
}